:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  display: block;
  image-rendering: pixelated;
  /* Critical for PS1 style crispy pixels */
  width: 100% !important;
  height: 100% !important;
}